doctype html
html(lang='en')
  head
    title
      block title
  body
    include ../../components/palette/palette-color
    include ../../components/palette/palette-description
    include ../../components/type/type
    block content 
