.form-radio-buttons
  .form-radio-buttons__enter
    .form-radio-buttons__name Radio Buttons
  .form-radio-buttons__choice
    label.form-radio-buttons__choice-label
      input.form-radio-buttons__choice-checkbox(type="radio"  name="name")
      span.form-radio-buttons__choice-checkbox-castom
      .form-radio-buttons__choice-checkbox-text Мужчина
    label.form-radio-buttons__choice-label
      input.form-radio-buttons__choice-checkbox(type="radio" name="name")
      span.form-radio-buttons__choice-checkbox-castom
      .form-radio-buttons__choice-checkbox-text Женщина