mixin review(nameImg, author, dayAgo, text)
  .review
    .review__author
      .review__photo
        img.review__photo-image(src=`assets/img/${nameImg}`, alt="photo")
      .review__like
        include ../button/button-like/button-like
        +button-like("review", "12")
    .review__description
      .review__info
          .review__info-name= author
          .review__info-day= dayAgo
      .review__text= text