.review
  .review__author
    .review__photo
      img.review__photo-image(src="assets/img/review-photo.png", alt="photo")
    .review__info
      .review__info-name Мурад Сарафанов
      .review__info-day 5 дней назад
  .review__description
    .review__like
      include ../button/button-like_active
    .review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.