.button-rate
  span.button-rate__icon.button-rate__icon_active
  span.button-rate__icon.button-rate__icon_active
  span.button-rate__icon.button-rate__icon_active
  span.button-rate__icon.button-rate__icon_active
  span.button-rate__icon.button-rate__icon_active