.button-rate {
  display: flex;
  &__icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-image: url("/assets/img/star.svg");
    background-repeat: no-repeat;
    transition: all 0.2s linear;
    &_active {
      background-image: url("/assets/img/star_active.svg");
    }

    &:hover {
      cursor: pointer;
      height: 24px;
      width: 24px;
      background-image: url("/assets/img/star_active.svg");
      background-repeat: no-repeat;
    }
  }
}
