.button-border {
  @include text(bold, 12px, 15px, $purple, uppercase);
  border-radius: 22px;
  text-align: center;
  width: 99px;
  height: 44px;
  text-align: center;
  background: transparent;
  transition: all 0.2s linear;
  border: 2px solid $purple;
  opacity: 1;
  &:hover {
    opacity: 0.5;
  }
}
