.description
  .description__name buttons
.btn-wrapper
  button.btn CLICK ME
  button.btn CLICK ME
.btn-border-wrapper
  button.btn-border CLICK ME
  button.btn-border CLICK ME
.btn-click-me-wrapper
  button.btn-click-me CLICK ME
  button.btn-click-me CLICK ME
.btn-big-wrapper
  button.btn-big перейти к оплате
    img.btn-big__arrow(src="/assets/img/uiKit/arrow_right.svg", alt="btn-big")
