include ../form-name/form-name
include ../button/button-big/button-big
// Form find room
form.find-room
  .find-room__title Найдём номера под ваши пожелания
  .find-room__find-date
    include ../dropdown/dropdown-date/dropdown-date
    +dropdown-date("Прибытие", "Выезд")
  .find-room__find-guests
    .find-room__form-name
      +form-name("гости")
    include ../dropdown/dropdown-guests/dropdown-guests
    +dropdown-guests("standard")
  .find-room__button-big
    +button-big("подобрать номер")