.form-name like button
.form-like-button-wrapper
  .form-like-button
    include ../../../img/uiKit/favorite.svg
    .form-like-button__count 2
  .form-like-button-wrapper-active  
    .form-like-button.form-like-button_active
      include ../../../img/uiKit/favorite.svg
      .form-like-button__count 12




