@import "./src/components/palette/palette-color";
@import "./src/components/palette/palette-description";
@import "./src/components/type/type";
.container-colors {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.colors-type-wrapper {
  display: flex;
  margin-top: 145px;
  margin-bottom: 145px;
}
.palette-color-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 428px;
}
.type-wrapper {
  display: flex;
  align-items: top;
  margin-bottom: 49px;
}
