@import "./src/components/palette/palette-color";
@import "./src/components/palette/palette-description";
@import "./src/components/type/type";

.colors-type-wrapper {
  display: flex;
  justify-content: space-between;
}
.palette-color-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.type-wrapper {
  display: flex;
  align-items: top;
  margin-bottom: 50px;
}
