@import "./src/modules/uiKit/ui-logo/ui-logo";
@import "./src/modules/uiKit/form-description/form-description";
@import "./src/modules/uiKit/form-text-field/form-text-field";
@import "./src/modules/uiKit/form-text-field/form-text-field_hover";
@import "./src/modules/uiKit/form-dropdown/form-dropdown";
@import "./src/modules/uiKit/form-date-dropdown/form-date-dropdown";
@import "./src/modules/uiKit/form-filter-date-dropdown/form-filter-date-dropdown";
@import "./src/modules/uiKit/form-subscription-text-field/form-subscription-text-field";
@import "./src/modules/uiKit/form-room-amenities-dropdown/form-room-amenities-dropdown-default";
@import "./src/modules/uiKit/form-room-amenities-dropdown/form-room-amenities-dropdown-expanded";
@import "./src/modules/uiKit/form-expandable-checkbox-list/form-expandable-checkbox-list-default";
@import "./src/modules/uiKit/form-expandable-checkbox-list/form-expandable-checkbox-list-expanded";
@import "./src/modules/uiKit/dignity/dignity";
@import "./src/modules/uiKit/form-checkbox-buttons/form-checkbox-buttons";
@import "./src/modules/uiKit/form-radio-buttons/form-radio-buttons";
@import "./src/modules/uiKit/form-toggle/form-toggle";
@import "./src/modules/uiKit/form-like-button/form-like-button";

.wrapper-form {
  display: flex;
  justify-content: space-between;
}
.wrapper-text-field,
.wrapper-dropdown {
  width: 320px;
  margin-bottom: 20px;
}

.wrapper-date-dropdown {
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin-top: 40px;
}

.wrapper-filter-date-dropdown {
  width: 320px;
  margin-top: 40px;
}

.wrapper-form-room-amenities-dropdown-default {
  width: 266px;
  margin-top: 100px;
}

.wrapper-form-room-amenities-dropdown-expanded {
  width: 266px;
  margin-top: 20px;
}

.wrapper-form-expandable-checkbox-list-default {
  margin-top: 40px;
}

.wrapper-form-expandable-checkbox-list-expanded {
  margin-top: 52px;
}

.wrapper-dignity-comfort {
  margin-top: 100px;
}

.wrapper-dignity-convenience {
  margin-top: 20px;
}

.wrapper-form-radio-buttons {
  margin-top: 20px;
}

.wrapper-form-toggle {
  margin-top: 37px;
}
