@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/footer/footer_social";
@import "../../components/social/social";

.component {
  &__header {
    margin-top: 140px;
    margin-bottom: 40px;
    &-account {
      margin-bottom: 40px;
    }
  }

  &__footer {
    margin-bottom: 40px;

    &-social {
      margin-bottom: 130px;
    }
  }
}
