@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/footer/footer_social";
@import "../../components/social/social";

.wrapper-header {
  margin-top: 150px;
  margin-bottom: 42px;
}

.wrapper-header-account {
  margin-bottom: 44px;
}

.wrapper-footer {
  margin-bottom: 40px;
}

.wrapper-footer-social {
  margin-bottom: 130px;
}
