.banner-landing {
  position: relative;
  &__img {
    width: 100%;
    height: 900px;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    z-index: 1;
    width: 1200px;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    &-form {
      margin-top: 70px;
    }

    &-text {
      @include text(normal, 14px, 24px, $darkShade75, none);
      margin-left: auto;
      width: 260px;
      text-align: right;
      letter-spacing: 0.4px;
      word-spacing: 0.1px;
      margin-top: 320px;
    }
  }
}
