.banner-landing {
  position: relative;
  &__img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 900px;
    object-fit: cover;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 18px 0;

    @media only screen and (max-width: $tableWidth) {
      padding: 70px 0 70px 0;
    }

    @media only screen and (max-width: $tableWidth) {
      flex-direction: column;
      align-items: center;
    }
    &-text {
      @include text(normal, 14px, 24px, $darkShade75, none);
      width: 260px;
      text-align: right;
      letter-spacing: 0.4px;
      word-spacing: 0.1px;
      margin-top: 764px;

      @media only screen and (max-width: $tableWidth) {
        display: none;
      }
    }
  }
}
