.header-inner {
  height: 900px;
  background: url(/assets/img/bg-header.png) no-repeat bottom;
  background-size: cover;
  &__wrapper {
    margin: 0 auto;
    width: 1200px;
    padding: 0 20px;
    margin-top: 70px;
  }

  &__text {
    font-family: $Montserrat;
    width: 297px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: $darkShade75;
    letter-spacing: 0.6px;
    margin-left: auto;
    margin-top: 320px;
    margin-bottom: 18px;
  }
}
