.container-form-registration {
  height: auto;
  background: url(/assets/img/bg-header.png) no-repeat bottom;
  background-size: cover;
}

.wrapper-form-registration-inner {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wrapper-form-registration {
  margin: 19px 0;
}
