.container {
  &-search-room {
    border-bottom: 1px solid $darkShade25;
  }
  &-content {
    display: flex;
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 32px;
  }

  &-filter {
    width: 266px;
    margin-right: 60px;
  }
  &-form-name {
    margin-bottom: 5px;
  }

  &-date-filter {
  }

  &-dropdown-guests {
    margin-top: 21px;
  }

  &-range-slider {
    margin-top: 30px;
  }

  &-checkbox-buttons {
    margin-top: 30px;
  }

  &-checkbox-availability {
    margin-top: 33px;
  }

  &-dropdown-facilities {
    margin-top: 30px;
  }

  &-checkbox-list {
    margin-top: 31px;
  }

  &-room {
    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-card {
      margin-bottom: 20px;
      &:not(:nth-child(3n + 3)) {
        margin-right: 12px;
      }
    }
  }

  &-pagination {
    margin-top: 20px;
    margin-bottom: 70px;

    display: flex;
    justify-content: center;
  }
}

.title__room-card {
  @include text(bold, 24px, 30px, $darkShade100, none);
  margin-bottom: 19px;
  font-family: $Quicksand;
  letter-spacing: 0.7px;
  word-spacing: 0.4px;
}

.filter {
  margin-top: 20px;
  display: none;

  &__title {
    @include text(bold, 24px, 20px, $darkShade100, none);
    margin-bottom: 20px;
  }

  &__arrow {
    position: relative;
    top: 5px;
    left: 10px;
    transition: all 0.3s linear;
    width: 5px;
    height: 5px;
    border: solid $darkShade100;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
  }
}
