.container {
  &-search-room {
    border-bottom: 1px solid $darkShade25;
  }
  &-content {
    display: flex;
    margin: 0 auto;
    margin-top: 32px;
    padding: 0 20px;
  }

  &-filter {
    display: block;

    @media (min-width: 1025px) {
      margin-right: 60px;
      width: 266px;
    }

    &_deactivated {
    }

    &_active {
    }
  }
  &-form-name {
    margin-bottom: 5px;
  }

  &-dropdown-guests {
    margin-top: 21px;
  }

  &-range-slider {
    margin-top: 30px;
  }

  &-checkbox-buttons {
    margin-top: 30px;
  }

  &-checkbox-availability {
    margin-top: 33px;
  }

  &-dropdown-facilities {
    margin-top: 30px;
  }

  &-checkbox-list {
    margin-top: 31px;
  }

  &-room {
    &-cards {
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 1200px) {
        justify-content: space-between;
      }
    }

    &-card {
      margin-bottom: 20px;
    }
  }

  &-pagination {
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
  }
}

.title__room-card {
  letter-spacing: 0.7px;
  word-spacing: 0.4px;
  @include text(bold, 24px, 30px, $darkShade100, none);
  margin-bottom: 19px;
  font-family: $Quicksand;
  @media (min-width: 1200px) {
    text-align: left;
  }

  @media (min-width: 1025px) {
    text-align: center;
  }
}

.filter {
  display: none;
  &__title {
    @include text(bold, 18px, 14px, $darkShade100, none);
  }
  &__arrow {
    position: relative;
    top: 2px;
    left: 10px;
    transition: all 0.3s linear;
    width: 4px;
    height: 4px;
    border: solid $darkShade100;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
  }
}
