.checkbox-list {
  cursor: pointer;
  user-select: none;
  &__enter {
    width: 248px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    @include text(bold, 12px, 15px, $darkShade100, uppercase);
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 0.2px;
  }

  &__arrow {
    position: relative;
    transition: all 0.3s linear;
    top: -3px;
    width: 5px;
    height: 5px;
    border: solid $darkShade50;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);

    &_up {
      position: relative;
      top: -1px;
      align-self: center;
      width: 5px;
      height: 5px;
      border: solid $darkShade50;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(-135deg);
    }
  }

  &__choice {
    transition: all 0.2s linear;
    position: absolute;
    width: 248px;
    visibility: hidden;
    opacity: 0;
    margin-top: 18px;
    &_static {
      position: static;
    }
    &_activated {
      visibility: visible;
      opacity: 1;
    }

    &-label {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &-checkbox {
      display: none;
      &-text {
        user-select: none;
        cursor: pointer;
        @include text(normal, 14px, 18px, $darkShade50, none);
        display: inline-block;
        margin-left: 10px;
        text-align: justify;
        letter-spacing: 1.1px;
        word-spacing: 1px;
      }
      &-castom {
        display: inline-block;
        cursor: pointer;
        height: 20px;
        min-width: 20px;
        background: #ffffff;
        border: 1px solid $darkShade25;
        border-radius: 4px;
        position: relative;
        transition: all 0.2s linear;

        &::before {
          content: "";
          position: absolute;
          cursor: pointer;
          top: 3px;
          left: 6px;
          width: 6px;
          height: 8px;
          margin: auto;
          background: transparent;
          border: solid transparent;
          border-width: 0 2px 2px 0;
          border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          border-image-slice: 1;
          transform: rotate(45deg);
          opacity: 0;
          transition: all 0.2s linear;
        }
      }

      &:checked + &-castom::before {
        opacity: 1;
      }

      &:checked + &-castom {
        border: 1px solid $purple;
      }
    }
  }
}
