.form-toggle
  .form-toggle__enter
    .form-toggle__name Toggle
  .form-toggle__choice
    label.form-toggle__choice-label
      input.form-toggle__choice-checkbox(type="checkbox")
      .form-toggle__choice-checkbox-text Получать спецпредложения
    label.form-toggle__choice-label
      input.form-toggle__choice-checkbox(type="checkbox")
      .form-toggle__choice-checkbox-text Получать спецпредложения