.form-dropdown-expanded-apply
  .form-dropdown-expanded-apply__enter
    .form-dropdown-expanded-apply__text Сколько гостей
    button.form-dropdown-expanded-apply__arrow.form-dropdown-expanded-apply__arrow_down.form-dropdown-expanded-apply__arrow_gray
  .form-dropdown-expanded-apply__choice.form-dropdown-expanded-apply__choice_activated
    .form-dropdown-expanded-apply__criterion
      .form-dropdown-expanded-apply__criterion-name взрослые
      .form-dropdown-expanded-apply__criterion-quantity
        button.form-dropdown-expanded-apply__criterion-quantity-minus.form-dropdown-expanded-apply__criterion-quantity-minus_deactivated
        .form-dropdown-expanded-apply__criterion-quantity-result 0
        button.form-dropdown-expanded-apply__criterion-quantity-plus
    .form-dropdown-expanded-apply__criterion
      .form-dropdown-expanded-apply__criterion-name дети
      .form-dropdown-expanded-apply__criterion-quantity
        button.form-dropdown-expanded-apply__criterion-quantity-minus.form-dropdown-expanded-apply__criterion-quantity-minus_deactivated
        .form-dropdown-expanded-apply__criterion-quantity-result 0
        button.form-dropdown-expanded-apply__criterion-quantity-plus
    .form-dropdown-expanded-apply__criterion
      .form-dropdown-expanded-apply__criterion-name младенцы
      .form-dropdown-expanded-apply__criterion-quantity
        button.form-dropdown-expanded-apply__criterion-quantity-minus.form-dropdown-expanded-apply__criterion-quantity-minus_deactivated
        .form-dropdown-expanded-apply__criterion-quantity-result 0
        button.form-dropdown-expanded-apply__criterion-quantity-plus
    .form-dropdown-expanded-apply__group
      button.form-dropdown-expanded-apply__clear очистить
      button.form-dropdown-expanded-apply__apply применить
