mixin dignity(imgName, title, text)
	.dignity
		.dignity__icon
			img(src=`assets/img/${imgName}`, alt="icon")
		.dignity__description
			.dignity__description-title=title
			.dignity__description-text=text