.form-subscription-text-field
  input.form-subscription-text-field__text(placeholder="Email")
  button.form-subscription-text-field__arrow
    img(src="assets/img/uiKit/arrow_forward.svg" alt="arrow")
      