.form-checkbox-buttons
  .form-checkbox-buttons__enter
    .form-checkbox-buttons__name Checkbox Buttons
  .form-checkbox-buttons__choice
    label.form-checkbox-buttons__choice-label
      input.form-checkbox-buttons__choice-checkbox(type="checkbox")
      span.form-checkbox-buttons__choice-checkbox-castom
      .form-checkbox-buttons__choice-checkbox-text Можно курить
    label.form-checkbox-buttons__choice-label
      input.form-checkbox-buttons__choice-checkbox(type="checkbox" checked)
      span.form-checkbox-buttons__choice-checkbox-castom
      .form-checkbox-buttons__choice-checkbox-text Можно с питомцами
    label.form-checkbox-buttons__choice-label
      input.form-checkbox-buttons__choice-checkbox(type="checkbox" checked)
      span.form-checkbox-buttons__choice-checkbox-castom
      .form-checkbox-buttons__choice-checkbox-text Можно пригласить гостей (до 10 человек)
