.form-room-amenities-dropdown-expanded
  .form-room-amenities-dropdown-expanded__enter
    .form-room-amenities-dropdown-expanded__text 2 спальни, 2 кровати, 2 кровати.
    button.form-room-amenities-dropdown-expanded__arrow.form-room-amenities-dropdown-expanded__arrow_down.form-room-amenities-dropdown-expanded__arrow_gray
  .form-room-amenities-dropdown-expanded__choice.form-room-amenities-dropdown-expanded__choice_activated
    .form-room-amenities-dropdown-expanded__criterion
      .form-room-amenities-dropdown-expanded__criterion-name спальни
      .form-room-amenities-dropdown-expanded__criterion-quantity
        button.form-room-amenities-dropdown-expanded__criterion-quantity-minus
        .form-room-amenities-dropdown-expanded__criterion-quantity-result 2
        button.form-room-amenities-dropdown-expanded__criterion-quantity-plus
    .form-room-amenities-dropdown-expanded__criterion
      .form-room-amenities-dropdown-expanded__criterion-name кровати
      .form-room-amenities-dropdown-expanded__criterion-quantity
        button.form-room-amenities-dropdown-expanded__criterion-quantity-minus
        .form-room-amenities-dropdown-expanded__criterion-quantity-result 2
        button.form-room-amenities-dropdown-expanded__criterion-quantity-plus
    .form-room-amenities-dropdown-expanded__criterion
      .form-room-amenities-dropdown-expanded__criterion-name ванные комнаты
      .form-room-amenities-dropdown-expanded__criterion-quantity
        button.form-room-amenities-dropdown-expanded__criterion-quantity-minus.form-room-amenities-dropdown-expanded__criterion-quantity-minus_deactivated
        .form-room-amenities-dropdown-expanded__criterion-quantity-result 0
        button.form-room-amenities-dropdown-expanded__criterion-quantity-plus
