.form-room-amenities-dropdown-default
  .form-room-amenities-dropdown-default__text 2 спальни, 2 кровати, 2 кровати.
  button.form-room-amenities-dropdown-default__arrow.form-room-amenities-dropdown-default__arrow_down.form-room-amenities-dropdown-default__arrow_gray

