mixin range-slider(name, id, text)
  .range-slider
    .range-slider__description
      .range-slider__name=name
      .range-slider__price
        span#range-slider__price-lower
        span.range-slider__price-separate -
        span#range-slider__price-upper
    div(id=`${id}`)
    if text
      .range-slider__text= text

