mixin range-slider(name)
  .range-slider
    .range-slider__description
      .range-slider__name=name
      .range-slider__price
        span#range-slider__price-lower
        span.range-slider__price-separate -
        span#range-slider__price-upper
    #skipstep

