.registration {
  width: 380px;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px 29px;

  @media only screen and (max-width: $phoneWidth) {
    width: 322px;
    padding: 30px 20px 20px 20px;
  }

  @media only screen and (max-width: $smPhoneEdgeWidth) {
    width: 280px;
  }

  &__title {
    @include text(bold, 24px, 30px, $darkShade100, none);
    letter-spacing: 1.1px;
    word-spacing: 1px;
    font-family: $Quicksand;
    margin-bottom: 18px;
    @media all and (max-width: $smPhoneWidth),
      all and (max-width: $smPhoneEdgeWidth) {
      @include text(bold, 20px, 26px, $darkShade100, none);
    }
  }
  &__name,
  &__surname {
    margin-bottom: 10px;
  }

  &__form-name {
    margin-bottom: 5px;
  }

  &__find-gender {
    margin-bottom: 25px;
  }
  &__find-gender {
    display: flex;
  }
  &__button-radio {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__birth {
    margin-bottom: 21px;
  }
  &__login {
    &-email {
      margin-bottom: 10px;
    }
    &-password {
      margin-bottom: 10px;
    }
  }
  &__button-toggle {
    margin-bottom: 24px;
  }

  &__button-big {
    margin-bottom: 30px;
    @media all and (max-width: $smPhoneWidth),
      all and (max-width: $smPhoneEdgeWidth) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    &-text {
      @include text(normal, 14px, 18px, $darkShade100, none);
      letter-spacing: 0.8px;
      @media all and (max-width: $smPhoneWidth),
        all and (max-width: $smPhoneEdgeWidth) {
        margin-bottom: 10px;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: $smPhoneWidth),
      all and (max-width: $smPhoneEdgeWidth) {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
}
