.form-dropdown-expanded-clear
  .form-dropdown-expanded-clear__enter
    .form-dropdown-expanded-clear__text 3 гостя
    button.form-dropdown-expanded-clear__arrow.form-dropdown-expanded-clear__arrow_down.form-dropdown-expanded-clear__arrow_gray
  .form-dropdown-expanded-clear__choice.form-dropdown-expanded-clear__choice_activated
    .form-dropdown-expanded-clear__criterion
      .form-dropdown-expanded-clear__criterion-name взрослые
      .form-dropdown-expanded-clear__criterion-quantity
        button.form-dropdown-expanded-clear__criterion-quantity-minus
        .form-dropdown-expanded-clear__criterion-quantity-result 2
        button.form-dropdown-expanded-clear__criterion-quantity-plus
    .form-dropdown-expanded-clear__criterion
      .form-dropdown-expanded-clear__criterion-name Дети
      .form-dropdown-expanded-clear__criterion-quantity
        button.form-dropdown-expanded-clear__criterion-quantity-minus
        .form-dropdown-expanded-clear__criterion-quantity-result 1
        button.form-dropdown-expanded-clear__criterion-quantity-plus
    .form-dropdown-expanded-clear__criterion
      .form-dropdown-expanded-clear__criterion-name младенцы
      .form-dropdown-expanded-clear__criterion-quantity
        button.form-dropdown-expanded-clear__criterion-quantity-minus.form-dropdown-expanded-clear__criterion-quantity-minus_deactivated
        .form-dropdown-expanded-clear__criterion-quantity-result 0
        button.form-dropdown-expanded-clear__criterion-quantity-plus
    .form-dropdown-expanded-clear__group
      button.form-dropdown-expanded-clear__clear очистить
      button.form-dropdown-expanded-clear__apply применить
