mixin dropdown-guests_default(text)
  .dropdown-guests.dropdown-guests_default
    .dropdown-guests__enter.dropdown-guests__enter_default
      .dropdown-guests__text=text
      button.dropdown-guests__arrow.dropdown-guests__arrow_down.dropdown-guests__arrow_gray