mixin dropdown-guests(state)
  case state
    //- state default
      ---------------
    when "default"
      .dropdown-guests.dropdown-guests_default
        .dropdown-guests__enter.dropdown-guests__enter_default
          .dropdown-guests__text Сколько гостей
          .dropdown-guests__arrow.dropdown-guests__arrow_down
    
    
    //- mod standard width: 320px
      ---------------------
    when "standard"
      .dropdown-guests.dropdown-guests_default
        #dropdown-guests__enter.dropdown-guests__enter.dropdown-guests__enter_default
          .dropdown-guests__text Сколько гостей
          .dropdown-guests__arrow.dropdown-guests__arrow_down
        .dropdown-guests__choice
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name взрослые
            #adult.dropdown-guests__criterion-quantity
              button#adult-minus.dropdown-guests__criterion-quantity-minus
              #adult-result.dropdown-guests__criterion-quantity-result 0
              button#adult-plus.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name дети
            #children.dropdown-guests__criterion-quantity
              button#children-minus.dropdown-guests__criterion-quantity-minus
              #children-result.dropdown-guests__criterion-quantity-result 0
              button#children-plus.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name младенцы
            #baby.dropdown-guests__criterion-quantity
              button#baby-minus.dropdown-guests__criterion-quantity-minus
              #baby-result.dropdown-guests__criterion-quantity-result 0
              button#baby-plus.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__group
            button#clear.dropdown-guests__clear.dropdown-guests__clear_active очистить
            button#apply.dropdown-guests__apply применить
    
  
    //- mod sm width: 266px
      ---------------------
    when "sm"
      .dropdown-guests.dropdown-guests_default.dropdown-guests_sm
        #dropdown-guests__enter.dropdown-guests__enter.dropdown-guests__enter_default
          .dropdown-guests__text Сколько гостей
          .dropdown-guests__arrow.dropdown-guests__arrow_down
        .dropdown-guests__choice
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name взрослые
            #adult.dropdown-guests__criterion-quantity
              button#adult-minus.dropdown-guests__criterion-quantity-minus
              #adult-result.dropdown-guests__criterion-quantity-result 0
              button#adult-plus.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name дети
            #children.dropdown-guests__criterion-quantity
              button#children-minus.dropdown-guests__criterion-quantity-minus
              #children-result.dropdown-guests__criterion-quantity-result 0
              button#children-plus.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name младенцы
            #baby.dropdown-guests__criterion-quantity
              button#baby-minus.dropdown-guests__criterion-quantity-minus
              #baby-result.dropdown-guests__criterion-quantity-result 0
              button#baby-plus.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__group
            button#clear.dropdown-guests__clear.dropdown-guests__clear_active очистить
            button#apply.dropdown-guests__apply применить
  
    //- state all
        -----------
    when "all"
      .dropdown-guests
        .dropdown-guests__enter
          .dropdown-guests__text 3 гостя
          button.dropdown-guests__arrow.dropdown-guests__arrow_down.dropdown-guests__arrow_gray
        .dropdown-guests__choice.dropdown-guests__choice_activated.dropdown-guests__choice_static
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name взрослые
            .dropdown-guests__criterion-quantity
              button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
              .dropdown-guests__criterion-quantity-result 0
              button.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name дети
            .dropdown-guests__criterion-quantity
              button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
              .dropdown-guests__criterion-quantity-result 0
              button.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name младенцы
            .dropdown-guests__criterion-quantity
              button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
              .dropdown-guests__criterion-quantity-result 0
              button.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__group
            .dropdown-guests__clear.dropdown-guests__clear_active очистить
            button.dropdown-guests__apply применить

    //- with clear button
      ---------------
    when "clear"
      .dropdown-guests
        .dropdown-guests__enter
          .dropdown-guests__text Сколько гостей
          button.dropdown-guests__arrow.dropdown-guests__arrow_down.dropdown-guests__arrow_gray
        .dropdown-guests__choice.dropdown-guests__choice_activated.dropdown-guests__choice_static
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name взрослые
            .dropdown-guests__criterion-quantity
              button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
              .dropdown-guests__criterion-quantity-result 0
              button.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name дети
            .dropdown-guests__criterion-quantity
              button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
              .dropdown-guests__criterion-quantity-result 0
              button.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__criterion
            .dropdown-guests__criterion-name младенцы
            .dropdown-guests__criterion-quantity
              button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
              .dropdown-guests__criterion-quantity-result 0
              button.dropdown-guests__criterion-quantity-plus
          .dropdown-guests__group
            button.dropdown-guests__apply применить
