.dropdown-guests
  .dropdown-guests__enter
    .dropdown-guests__text 3 гостя
    button.dropdown-guests__arrow.dropdown-guests__arrow_down.dropdown-guests__arrow_gray
  .dropdown-guests__choice.dropdown-guests__choice_activated.dropdown-guests__choice_static
    .dropdown-guests__criterion
      .dropdown-guests__criterion-name взрослые
      .dropdown-guests__criterion-quantity
        button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
        .dropdown-guests__criterion-quantity-result 0
        button.dropdown-guests__criterion-quantity-plus
    .dropdown-guests__criterion
      .dropdown-guests__criterion-name дети
      .dropdown-guests__criterion-quantity
        button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
        .dropdown-guests__criterion-quantity-result 0
        button.dropdown-guests__criterion-quantity-plus
    .dropdown-guests__criterion
      .dropdown-guests__criterion-name младенцы
      .dropdown-guests__criterion-quantity
        button.dropdown-guests__criterion-quantity-minus.dropdown-guests__criterion-quantity-minus_deactivated
        .dropdown-guests__criterion-quantity-result 0
        button.dropdown-guests__criterion-quantity-plus
    .dropdown-guests__group
      .dropdown-guests__clear.dropdown-guests__clear_active очистить
      button.dropdown-guests__apply применить