.dropdown-guests {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 320px;
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: 1025px) {
    width: 266px;
  }

  &_sm {
    width: 266px;
  }

  &_default {
    box-shadow: none;
  }
  &_default > &__enter {
    border-radius: 4px;
  }

  &__group {
    display: flex;
    margin-top: 23px;
    margin-bottom: 3px;
  }

  &__clear {
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
    @include text(bold, 12px, 15px, $darkShade50, uppercase);
    text-align: justify;
    letter-spacing: 0.6px;
    word-spacing: 0.2px;
    padding: 0;
    &_active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__apply {
    @include text(bold, 12px, 15px, $purple, uppercase);
    text-align: justify;
    letter-spacing: 0.6px;
    word-spacing: 0.2px;
    padding: 0;
    margin-left: auto;
  }
  &__enter {
    position: relative;
    transition: all 0.2s linear;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid $darkShade50;
    border-radius: 4px 4px 0 0;
    padding: 8px 15px;
    color: $darkShade25;
    &_default {
      border: 1px solid $darkShade25;
    }
  }

  &__text {
    @include text(normal, 14px, 24px, $darkShade75, none);
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    text-align: justify;
    word-wrap: 0.2px;
    letter-spacing: 0.8px;
  }

  &__arrow {
    position: absolute;
    top: 15px;
    right: 16.4px;
    padding: 10px;
    cursor: pointer;

    &_down {
      align-self: center;
      width: 5px;
      height: 5px;
      border: solid $darkShade50;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
    }

    &_gray {
      border: 1px solid $darkShade75;
      border-width: 0 2px 2px 0;
    }
  }

  &__choice {
    &_static {
      position: static;
    }
    position: absolute;
    z-index: 1000;
    transition: all 0.2s linear;

    &_activated {
      visibility: visible;
      opacity: 1;
    }
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 1px solid $darkShade50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 7px 7px 7px 15px;
  }

  &__criterion {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
      @include text(bold, 12px, 15px, $darkShade100, uppercase);
      text-align: justify;
      letter-spacing: 0.6px;
      word-spacing: 0.2px;
    }

    &-quantity {
      display: flex;
      align-items: center;
      &-result {
        @include text(bold, 12px, 15px, $darkShade100, uppercase);
        margin: 0 11px;
      }

      &-minus {
        transition: all 0.2s linear;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid $darkShade25;
        cursor: pointer;
        position: relative;

        &::before {
          content: "-";
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: $Montserrat;
          font-size: 18px;
          line-height: 22px;
          color: $darkShade25;
        }

        &_deactivated {
          opacity: 0.38;
        }
      }
      &-plus {
        outline: none;
        transition: all 0.2s linear;
        border-radius: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid $darkShade25;
        cursor: pointer;
        position: relative;

        &::before {
          content: "+";
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: $Montserrat;
          font-size: 18px;
          line-height: 20px;
          color: $darkShade25;
        }
      }
    }
  }
}
