.social
  a(href="#").social__link
    img.social__link-img(src="assets/img/social-twitter.svg", alt="twitter")
  a(href="#").social__link
    img.social__link-img(src="assets/img/social-facebook.svg", alt="twitter")
  a(href="#").social__link
    img.social__link-img(src="assets/img/social-instagram.svg", alt="twitter")