doctype html
html(lang='en')
  head
    title ColorType
  body
    img(src="assets/img/uiKit/logo.svg")
    include ../../modules/uiKit/ColorsType/сolors.pug

    +block("привет", "#333")
    +block("привет", "#333")


