.form-expandable-checkbox-list-default
  .form-expandable-checkbox-list-default__name expandable checkbox list
  button.form-expandable-checkbox-list-default__arrow.form-expandable-checkbox-list-default__arrow_down