.form-expandable-checkbox-list-expanded
  .form-expandable-checkbox-list-expanded__enter
    .form-expandable-checkbox-list-expanded__name expandable checkbox list
    button.form-expandable-checkbox-list-expanded__arrow.form-expandable-checkbox-list-expanded__arrow_up
  .form-expandable-checkbox-list-expanded__choice.form-expandable-checkbox-list-expanded__choice_activated
    label.form-expandable-checkbox-list-expanded__choice-label
      input.form-expandable-checkbox-list-expanded__choice-checkbox(type="checkbox" )
      span.form-expandable-checkbox-list-expanded__choice-checkbox-castom
      .form-expandable-checkbox-list-expanded__choice-checkbox-text Завтрак
    label.form-expandable-checkbox-list-expanded__choice-label
      input.form-expandable-checkbox-list-expanded__choice-checkbox(type="checkbox" checked)
      span.form-expandable-checkbox-list-expanded__choice-checkbox-castom
      .form-expandable-checkbox-list-expanded__choice-checkbox-text Письменный стол
    label.form-expandable-checkbox-list-expanded__choice-label
      input.form-expandable-checkbox-list-expanded__choice-checkbox(type="checkbox" checked)
      span.form-expandable-checkbox-list-expanded__choice-checkbox-castom
      .form-expandable-checkbox-list-expanded__choice-checkbox-text Стул для кормления
    label.form-expandable-checkbox-list-expanded__choice-label
      input.form-expandable-checkbox-list-expanded__choice-checkbox(type="checkbox" checked)
      span.form-expandable-checkbox-list-expanded__choice-checkbox-castom
      .form-expandable-checkbox-list-expanded__choice-checkbox-text Кроватка
    label.form-expandable-checkbox-list-expanded__choice-label
      input.form-expandable-checkbox-list-expanded__choice-checkbox(type="checkbox")
      span.form-expandable-checkbox-list-expanded__choice-checkbox-castom
      .form-expandable-checkbox-list-expanded__choice-checkbox-text Телевизор
    label.form-expandable-checkbox-list-expanded__choice-label
      input.form-expandable-checkbox-list-expanded__choice-checkbox(type="checkbox")
      span.form-expandable-checkbox-list-expanded__choice-checkbox-castom
      .form-expandable-checkbox-list-expanded__choice-checkbox-text Шампунь
