.form-name rate button
.rating-wrapper
  .rating
    .rating__stars
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon
  .rating
    .rating__stars
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active
        span.rating__stars-icon.rating__stars-icon_active


