.form-name rate button
.form-rate-button-wrapper
  .form-rate-button
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star.svg
  .form-rate-button
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
    .form-rate-button__star
      include ../../../img/uiKit/star_active.svg
  

