mixin text-field-subscription(placeholder)
  .text-field-subscription
    input.text-field-subscription__text(placeholder=placeholder)
    button.text-field-subscription__arrow
      include arrow_subscription.svg