.login {
  @include form;
  @media all and (max-width: $smPhoneWidth),
    all and (max-width: $smPhoneEdgeWidth) {
    width: 280px;
    padding: 15px;
  }

  &__title {
    @include text(bold, 24px, 30px, $darkShade100, none);
    letter-spacing: 1.1px;
    word-spacing: 1px;
    font-family: $Quicksand;
    margin-bottom: 18px;
    @media all and (max-width: $smPhoneWidth),
      all and (max-width: $smPhoneEdgeWidth) {
      width: 240px;
    }
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 20px;
  }

  &__button-big {
    margin-bottom: 30px;
    @media all and (max-width: $smPhoneWidth),
      all and (max-width: $smPhoneEdgeWidth) {
      margin-bottom: 20px;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: $smPhoneWidth),
      all and (max-width: $smPhoneEdgeWidth) {
      flex-direction: column;
      justify-content: center;
      width: auto;
    }

    &-text {
      @include text(normal, 14px, 18px, $darkShade100, none);
      letter-spacing: 0.8px;
      @media all and (max-width: $smPhoneWidth) {
        margin-bottom: 10px;
      }
    }
  }
}
