.login {
  width: 380px;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px 29px;

  @media only screen and (max-width: $phoneWidth) {
    width: 322px;
    padding: 30px 20px 20px 20px;
  }

  @media only screen and (max-width: $smPhoneEdgeWidth) {
    width: 280px;
  }

  &__title {
    @include text(bold, 24px, 30px, $darkShade100, none);
    letter-spacing: 1.1px;
    word-spacing: 1px;
    font-family: $Quicksand;
    margin-bottom: 18px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 20px;
  }

  &__button-big {
    margin-bottom: 30px;
    @media only screen and (max-width: $phoneWidth) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $smPhoneEdgeWidth) {
      flex-direction: column;
    }

    &-text {
      @include text(normal, 14px, 18px, $darkShade100, none);
      letter-spacing: 0.8px;
      @media only screen and (max-width: $smPhoneEdgeWidth) {
        margin-bottom: 15px;
      }
    }
  }
}
