.header {
  &__burger {
    margin-left: auto;
    display: none;
    @media only screen and (max-width: $smDesktopWidth) {
      display: block;
    }
  }

  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__inner {
    padding: 15px 0;
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $smDesktopWidth) {
      display: none;
    }

    &-mobile {
      display: none;
      &_active {
        @media only screen and (max-width: $smDesktopWidth) {
          border-top: 1px solid $darkShade25;
          padding: 20px 0 50px 20px;
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 1000000;
          background-color: #fff;
          width: 100%;
          left: 0;
        }
      }
    }

    &-item {
      &:not(:last-child) {
        margin-right: 26px;
      }

      @media only screen and (max-width: $smDesktopWidth) {
        &:not(:last-child) {
          margin-right: 0;
        }

        margin-bottom: 15px;
      }
    }
    &-arrow {
      &::before {
        cursor: pointer;
        position: relative;
        top: -1px;
        left: 4px;
        content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='%231F2041' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
      }
    }

    &-link {
      cursor: pointer;
      @include text(normal, 14px, 17px, $darkShade50, none);
      word-spacing: 0.5px;
      letter-spacing: 0.8px;
      transition: all 0.2s linear;
      &:hover {
        color: $darkShade100;
      }

      &_active {
        font-weight: bold;
        color: $darkShade75;
        cursor: inherit;
      }
    }

    @media only screen and (max-width: $smDesktopWidth) {
      margin-left: 0;
      flex-direction: column;
      width: 250px;
    }
  }

  &__button {
    &-login {
      margin-right: 23px;
      @media only screen and (max-width: $smDesktopWidth) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__login {
    margin-left: 8px;
    @media only screen and (max-width: $smDesktopWidth) {
      width: 240px;
      margin-left: 0;
    }
    display: none;
    &_active {
      display: flex;
      @media only screen and (max-width: $smDesktopWidth) {
        flex-direction: column;
      }
    }
  }

  &__account {
    margin-left: 4px;
    display: none;
    &_active {
      display: flex;
    }

    align-items: center;
    &-separate {
      width: 1px;
      height: 30px;
      background: rgba(31, 32, 65, 0.1);
      margin: 0 24px 0 0px;
    }

    &-name {
      @include text(normal, 14px, 17px, $darkShade50, none);
      letter-spacing: 0.8px;
    }
  }
}
