header.header
  .header__inner
    .header__logo
      a.logo(href="#")
        img(src="assets/img/logo.svg")
    ul.header__nav
      li.header__nav-item
        a(href="#").header__nav-link.header__nav-link_active Home
      li.header__nav-item
        a(href="#").header__nav-link About Us
      li.header__nav-item
        a(href="#").header__nav-link Services
        span.header__nav-arrow
      li.header__nav-item
        a(href="#").header__nav-link Careers
      li.header__nav-item
        a(href="#").header__nav-link News
      li.header__nav-item
        a(href="#").header__nav-link Documentation
    .header__login
      .header__button-login
        include ../button/button-border
        +button-border("Login")
      .header__button-register
        include ../button/button-bg
        +button-bg("REGISTER")
    .header__account.header__account_active
      .header__account-separate
      .header__account-name Cosmin Negoita