.button-radio-wrapper
  label.button-radio
    input.button-radio__checkbox(type="radio"  name="name")
    span.button-radio__checkbox-castom
    .button-radio__text Мужчина
  label.button-radio
    input.button-radio__checkbox(type="radio"  name="name")
    span.button-radio__checkbox-castom
    .button-radio__text Женщина
    