.statistics
  .statistics__circle
    include circle.svg
    .statistics__votes
      .statistics__votes-count 260
      .statistics__votes-text голосов
  .statistics__info
    .statistics__info-item
      p.statistics__text.statistics__text_sumptuously Великолепно
    .statistics__info-item
      p.statistics__text.statistics__text_well Хорошо
    .statistics__info-item
      p.statistics__text.statistics__text_satisfactorily Удовлетворительно
    .statistics__info-item
      p.statistics__text.statistics__text_badly Разочарован
