.dropdown-range-date
	.dropdown-range-date__input
		input(class="fp_range" data-id="rangePlugin" type="text" placeholder="Select Date.." readonly="readonly")
		button.dropdown-range-date__arrow.dropdown-range-date__arrow_down
	.dropdown-range-date__input
		input(class="fp_range" id="secondRangeInput" type="text" placeholder="Select Date.." readonly="readonly")
		button.dropdown-range-date__arrow.dropdown-range-date__arrow_down