.dropdown-date {
  -webkit-tap-highlight-color: transparent;
  &__wrapper {
    display: flex;
    width: 320px;
    justify-content: space-between;
  }

  &__name {
    margin-bottom: 6px;
  }

  &__form {
    position: relative;
  }

  &__range {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 44px;
    background: #ffffff;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 15px;
    @include text(normal, 14px, 18px, $darkShade75, none);
    &::placeholder {
      @include text(normal, 14px, 18px, $darkShade75, none);
      text-align: justify;
      letter-spacing: 0.8px;
    }
  }
  &__arrow {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16.5px;
    z-index: 10000;
    width: 5px;
    height: 5px;
    &_down {
      align-self: center;
      width: 5px;
      height: 5px;
      border: solid $darkShade50;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
    }
  }
}
