include ../../form-name/form-name
mixin dropdown-date(firstName, lastName)
	.dropdown-date
		.dropdown-date__arrival
			.dropdown-date__name
				+form-name(firstName)
			.dropdown-date__input
				input.dropdown-date__range(type="text" placeholder="ДД.ММ.ГГГГ")
		// .dropdown-date__departure
				.dropdown-date__name
					+form-name(lastName)
				.dropdown-date__input
					input.dropdown-date__range(type="text" placeholder="ДД.ММ.ГГГГ" id="secondRangeInput")
