.dropdown-date {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__arrival,
  &__departure {
    display: flex;
    flex-direction: column;
  }
  &__range {
    width: 100%;
  }

  &__name {
    margin-bottom: 6px;
  }
  &__input {
    display: flex;
    align-items: center;
    width: 150px;
    height: 44px;
    background: #ffffff;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    padding: 8px 15px;
    color: $darkShade25;
    @include text(normal, 14px, 18px, $darkShade75, none);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 125px;
      width: 5px;
      height: 5px;
      border: solid $darkShade50;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
    }
  }
}
