.checkbox-availability {
  &__name {
    @include text(bold, 12px, 15px, $darkShade100, uppercase);
    text-align: justify;
    letter-spacing: 0.4px;
    word-spacing: 0.1px;
    margin-bottom: 15px;
  }

  &__label {
    width: 248px;

    display: flex;
    &:not(:last-child) {
      margin-bottom: 9px;
    }

    &-description {
      margin-left: 10px;
      &-title {
        text-align: justify;
        letter-spacing: 1.1px;
        word-spacing: 1px;
        margin-bottom: 6px;

        @media (min-width: 1025px) {
          @include text(bold, 14px, 19px, $darkShade75, none);
        }
      }

      &-text {
        @media (min-width: 1025px) {
          width: 225px;
          @include text(normal, 12px, 14px, $darkShade50, none);
          letter-spacing: 0.2px;
          word-spacing: 2px;
        }
      }
    }

    &-checkbox {
      display: none;

      &-castom {
        display: inline-block;
        cursor: pointer;
        height: 20px;
        min-width: 20px;
        background: #ffffff;
        border: 1px solid $darkShade25;
        border-radius: 4px;
        position: relative;
        transition: all 0.2s linear;

        &::before {
          content: "";
          position: absolute;
          cursor: pointer;
          top: 4px;
          left: 6px;
          width: 6px;
          height: 8px;
          margin: auto;
          background: transparent;
          border: solid transparent;
          border-width: 0 2px 2px 0;
          border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          border-image-slice: 1;
          transform: rotate(45deg);
          opacity: 0;
          transition: all 0.2s linear;
        }
      }

      &:checked + &-castom::before {
        opacity: 1;
      }

      &:checked + &-castom {
        border: 1px solid $purple;
      }
    }
  }
}
