extends ../layout/main-cards

block title
  | Cards

block content
  // Logo

  .wrapper-logo-gray
    include ../../components/logo/logo-gray
  
  // Container
  .container-cards

    // Cards
    .wrapper-cards

      // Column 1
      .wrapper-cards-column
        .wrapper-form-find-room
          include ../../components/form/form-find-room
        .wrapper-form-registration
          include ../../components/form/form-registration
      
      // Column 2
      .wrapper-card-column
        .wrapper-form-book-room
          include ../../components/form/form-book-room
        .wrapper-form-login
          include ../../components/form/form-login

      // Column 3
      .wrapper-card-column
        .wrapper-calendar
          include ../../components/calendar/calendar_inline
          include ../../components/room-card/room-card
          -
            let dateRoom = { 
              room888:{
                imgSrc: ["assets/img/room-num-888.png", "assets/img/room-num-888.png", "assets/img/room-num-888.png", "assets/img/room-num-888.png"],
                roomInfo: ["888", "люкс", "9 990", "65"],
              },
              room840:{
                imgSrc: ["assets/img/room-num-840.png", "assets/img/room-num-840.png", "assets/img/room-num-840.png", "assets/img/room-num-840.png"],
                roomInfo: ["840", "люкс", "9 990", "65"],
              },
            }
        .wrapper-room-card_888
          +room-card(dateRoom.room888.roomInfo, dateRoom.room888.imgSrc)
        .wrapper-room-card_840
          +room-card(dateRoom.room840.roomInfo, dateRoom.room840.imgSrc)
