doctype html
html(lang='en')
	head
		title ColorsType
	body
		// include ../../modules/uiKit/ColorsType/colors/сolors.pug

		.wrapper__logo
			img(src="assets/img/uiKit/logo.svg")
		.wrapper__color
			.palette
				.palette__color.palette__color--100
				.palette__description
					.palette__name Dark Shade 100%
					.palette__hash #1F2041
			.palette
				.palette__color.palette__color--75
				.palette__description
					.palette__name Dark Shade 75%
					.palette__hash #1F2041
			.palette
				.palette__color.palette__color--50
				.palette__description
					.palette__name Dark Shade 50%
					.palette__hash #1F2041
			.palette
				.palette__color.palette__color--25
				.palette__description
					.palette__name Dark Shade 25%
					.palette__hash #1F2041
			.palette
				.palette__color.palette__color--5
				.palette__description
					.palette__name Dark Shade 5%
					.palette__hash #1F2041
			.palette
				.palette__color.palette__color--purple
				.palette__description
					.palette__name Purple
					.palette__hash #BC9CFF
			.palette
				.palette__color.palette__color--green
				.palette__description
					.palette__name Green
					.palette__hash #6FCF97