extends ../layout/layout-form-elements

block title
  | FormElements

block content
  .wrapper-logo-gray
    include ../../components/logo/logo-gray
  .container-form-elements
    .wrapper-form-elements
      .wrapper-form-elements__column
        .wrapper-text-field-email
          include ../../components/text-field/text-field-email
        .wrapper-text-field-hover
          include ../../components/text-field/text-field-hover
        .wrapper-text-field-masked
          include ../../components/text-field/text-field-masked
        .wrapper-text-field-subscription
          include ../../components/text-field/text-field-subscription
      .wrapper-form-elements__column
      .wrapper-form-elements__column
