doctype html
html(lang='en')
	head
		title Formelements
	body
		include ../../modules/ui-logo/ui-logo
	.container
		.input-description
			.input-description__name Text Field
			.input-description__state Default
		input.text-field(placeholder="Email")
		.input-description
			.input-description__name Text Field
			.input-description__state Default
		input.text-field(placeholder="Email")