extends ../layout/main-header

block title
  | HeaderFooter


block content

  // Logo
  .wrapper-logo-gray
    include ../../components/logo/logo-gray

  .wrapper-header
    include ../../components/header/header
  .wrapper-header-account
    include ../../components/header/header_login
  .wrapper-footer
    include ../../components/footer/footer
  .wrapper-footer-social
    include ../../components/footer/footer_social