doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width")
    title
      | Registration
  body

    //-Includes
    include ../../components/header/header
    include ../../components/footer/footer

    // Header
    .header
      
      - let arrTextLink = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
      - let arrowPos = ["Услуги","Соглашения"]
      +header("standard",arrTextLink, arrowPos, "войти", "зарегистрироваться")

      // Form registration
      .container-form-registration
        .wrapper-form-registration-inner
          .wrapper-form-registration
            include ../../components/form/form-registration/form-registration



    
    // Footer
    .container-footer
      //- Data Footer
      - let contentText = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
      - let arrLinkNavigation = ["навигация", "О нас", "Новости", "Служба поддержки", "Услуги"]
      - let arrLinkAbout = ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"]
      - let arrLinkSupport = ["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"]
      - let subscribeTitle = "Подписка"
      - let subscribeText = "Получайте специальные предложения и новости сервиса"
      - let subscribePlaceholder = "Email"
      - let copyright = "Copyright © 2018 Toxin отель. Все права зачищены."
      +footer(contentText, arrLinkNavigation, arrLinkAbout, arrLinkSupport, subscribeTitle, subscribeText, subscribePlaceholder, copyright)