extends ../layout/main

block title
  | searchRoom


block content
  //- Form Name
  include ../../components/form-name/form-name
  // Header
  .container-header
    include ../../components/header/header
    - let arrTextLink = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
    - let arrowPos = ["Услуги","Соглашения"]
    +header("standard",arrTextLink, arrowPos, "войти", "зарегистрироваться")

  // Content
  .container-search-room
    .container-content
      .container-filter
        .container-date-filter
          .container-form-name
            +form-name("даты пребывания в отеле")
          include ../../components/dropdown/dropdown-date-filter/dropdown-date-filter
        .container-dropdown-guests
          .container-form-name
            +form-name("гости")
          include ../../components/dropdown/dropdown-guests/dropdown-guests
          +dropdown-guests("sm")
        .container-range-slider
          include ../../components/range-slider/range-slider
          +range-slider("диапазон цены", "range-slider", "Стоимость за сутки пребывания в номере")
        .container-checkbox-buttons
          include ../../components/checkbox/checkbox-buttons
          +checkbox-buttons("Checkbox Buttons")
        .container-checkbox-availability
          include ../../components/checkbox/checkbox-availability
          +checkbox-availability("Доступность")
        .container-dropdown-facilities
          .container-form-name
            +form-name("удобства номера")
          include ../../components/dropdown/dropdown-facilities/dropdown-facilities
          +dropdown-facilities("standard")
        .container-checkbox-list
          include ../../components/checkbox/checkbox-list/checkbox-list
          +checkbox-list("дополнительные удобства", "standard")
      .container-room
        h1.title__room-card Номера, которые мы для вас подобрали
        .container-room-cards

          include ../../components/room-card/room-card
          -
            let dateRoom = { 
              room888:{
                imgSrc: ["assets/img/room-num-888.png", "assets/img/room-num-888.png", "assets/img/room-num-888.png", "assets/img/room-num-888.png"],
                roomInfo: ["888", "люкс", "9 990", "65"],
              },
              room840:{
                imgSrc: ["assets/img/room-num-840.png", "assets/img/room-num-840.png", "assets/img/room-num-840.png", "assets/img/room-num-840.png"],
                roomInfo: ["840", "", "9 990", "65"],
              },
              room980:{
                imgSrc: ["assets/img/room-num-980.png", "assets/img/room-num-980.png", "assets/img/room-num-980.png", "assets/img/room-num-980.png"],
                roomInfo: ["980", "люкс", "8 500", "35"],
              },
              room856:{
                imgSrc: ["assets/img/room-num-856.png", "assets/img/room-num-856.png", "assets/img/room-num-856.png", "assets/img/room-num-856.png"],
                roomInfo: ["856", "", "7 300", "19"],
              },

              room740:{
                imgSrc: ["assets/img/room-num-740.png", "assets/img/room-num-740.png", "assets/img/room-num-740.png", "assets/img/room-num-740.png"],
                roomInfo: ["740", "", "6 000", "44"],
              },
              room982:{
                imgSrc: ["assets/img/room-num-982.png", "assets/img/room-num-982.png", "assets/img/room-num-982.png", "assets/img/room-num-982.png"],
                roomInfo: ["982", "", "5 800", "56"],
              },
              room678:{
                imgSrc: ["assets/img/room-num-678.png", "assets/img/room-num-678.png", "assets/img/room-num-678.png", "assets/img/room-num-678.png"],
                roomInfo: ["678", "", "5 500", "45"],
              },
              room450:{
                imgSrc: ["assets/img/room-num-450.png", "assets/img/room-num-450.png", "assets/img/room-num-450.png", "assets/img/room-num-450.png"],
                roomInfo: ["450", "", "5 300", "39"],
              },
              room350:{
                imgSrc: ["assets/img/room-num-350.png", "assets/img/room-num-350.png", "assets/img/room-num-350.png", "assets/img/room-num-350.png"],
                roomInfo: ["350", "", "5 000", "77"],
              },
              room666:{
                imgSrc: ["assets/img/room-num-666.png", "assets/img/room-num-666.png", "assets/img/room-num-666.png", "assets/img/room-num-666.png"],
                roomInfo: ["666", "", "5 000", "25"],
              },
              room444:{
                imgSrc: ["assets/img/room-num-444.png", "assets/img/room-num-444.png", "assets/img/room-num-444.png", "assets/img/room-num-444.png"],
                roomInfo: ["444", "", "5 000", "15"],
              },
              room352:{
                imgSrc: ["assets/img/room-num-352.png", "assets/img/room-num-352.png", "assets/img/room-num-352.png", "assets/img/room-num-352.png"],
                roomInfo: ["352", "", "5 000", "55"],
              },
            }

          .container-room-card
            +room-card(dateRoom.room888.roomInfo, dateRoom.room888.imgSrc)
          .container-room-card
            +room-card(dateRoom.room840.roomInfo, dateRoom.room840.imgSrc)
          .container-room-card
            +room-card(dateRoom.room980.roomInfo, dateRoom.room980.imgSrc)
          .container-room-card
            +room-card(dateRoom.room856.roomInfo, dateRoom.room856.imgSrc)
          .container-room-card
            +room-card(dateRoom.room740.roomInfo, dateRoom.room740.imgSrc)
          .container-room-card
            +room-card(dateRoom.room982.roomInfo, dateRoom.room982.imgSrc)
          .container-room-card
            +room-card(dateRoom.room678.roomInfo, dateRoom.room678.imgSrc)
          .container-room-card
            +room-card(dateRoom.room450.roomInfo, dateRoom.room450.imgSrc)
          .container-room-card
            +room-card(dateRoom.room350.roomInfo, dateRoom.room350.imgSrc)
          .container-room-card
            +room-card(dateRoom.room666.roomInfo, dateRoom.room666.imgSrc)
          .container-room-card
            +room-card(dateRoom.room444.roomInfo, dateRoom.room444.imgSrc)
          .container-room-card
            +room-card(dateRoom.room352.roomInfo, dateRoom.room352.imgSrc)
        .container-pagination
          include ../../components/pagination/pagination



        

  // Footer
  .container-footer
    include ../../components/footer/footer
    - let contentText = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
    - let arrLinkNavigation = ["навигация", "О нас", "Новости", "Служба поддержки", "Услуги"]
    - let arrLinkAbout = ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"]
    - let arrLinkSupport = ["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"]
    - let subscribeTitle = "Подписка"
    - let subscribeText = "Получайте специальные предложения и новости сервиса"
    - let subscribePlaceholder = "Email"
    - let copyright = "Copyright © 2018 Toxin отель. Все права зачищены."
    +footer(contentText, arrLinkNavigation, arrLinkAbout, arrLinkSupport, subscribeTitle, subscribeText, subscribePlaceholder, copyright)
