extends ../layout/main

block title
  | signIn


block content
  // Header
  .container-header
    include ../../components/header/header
    - let arrTextLink = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
    - let arrowPos = ["Услуги","Соглашения"]
    +header("standard",arrTextLink, arrowPos, "войти", "зарегистрироваться")
    .container-form-sign-in
      .wrapper-form-sign-in-inner
        .wrapper-form-sign-in
          include ../../components/form/form-login

  // Footer
  .container-footer
    include ../../components/footer/footer
    - let contentText = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
    - let arrLinkNavigation = ["навигация", "О нас", "Новости", "Служба поддержки", "Услуги"]
    - let arrLinkAbout = ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"]
    - let arrLinkSupport = ["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"]
    - let subscribeTitle = "Подписка"
    - let subscribeText = "Получайте специальные предложения и новости сервиса"
    - let subscribePlaceholder = "Email"
    - let copyright = "Copyright © 2018 Toxin отель. Все права зачищены."
    +footer(contentText, arrLinkNavigation, arrLinkAbout, arrLinkSupport, subscribeTitle, subscribeText, subscribePlaceholder, copyright)