.review
  .review__author
    .review__photo
      img.review__photo-image(src="assets/img/uiKit/review-photo.png", alt="")
    .review__info
      .review__info-name Мурад Сарафанов
      .review__info-day-ago 5 дней назад
  .review__description
    .review__description-like
      .form-like-button.form-like-button_active
        include ../../../img/uiKit/favorite.svg
        .form-like-button__count 12
    .review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.