mixin checkbox-availability(name)
  .checkbox-availability
    .checkbox-availability__name=name
    label.checkbox-availability__label
      input.checkbox-availability__label-checkbox(type="checkbox" )
      span.checkbox-availability__label-checkbox-castom
      .checkbox-availability__label-description
        .checkbox-availability__label-description-title Широкий коридор
        .checkbox-availability__label-description-text Ширина коридоров в номере не менее 91 см.
    .checkbox-availability
    label.checkbox-availability__label
      input.checkbox-availability__label-checkbox(type="checkbox" )
      span.checkbox-availability__label-checkbox-castom
      .checkbox-availability__label-description
        .checkbox-availability__label-description-title Помощник для инвалидов
        .checkbox-availability__label-description-text На 1 этаже вас встретит специалист  и проводит до номера.

