footer.footer-social
  .footer-social__inner
    .footer-social__logo
      img(src="assets/img/logo.svg", alt="logo")
    .footer-social__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer-social__icon
      include ../social/social