.footer {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__border {
    border-bottom: 1px solid $darkShade25;
  }
  &__content {
    padding: 100px 0;
    display: flex;
    @media only screen and (max-width: $smDesktopWidth) {
      padding: 50px 0;
    }

    @media only screen and (max-width: $tableWidth) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    margin-right: 49px;
    @media only screen and (max-width: $tableWidth) {
      margin-right: 0;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  &__text {
    width: 250px;
    @include text(normal, 14px, 24px, $darkShade75, none);
    letter-spacing: 0.9px;
    word-spacing: 0.9px;
    margin-top: 18px;

    @media only screen and (max-width: $smPhoneEdgeWidth) {
      @include text(normal, 12px, 22px, $darkShade75, none);
    }
  }

  &__nav {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $smDesktopWidth) {
      display: none;
    }
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    &-info {
      &-text {
        width: 250px;
        @include text(normal, 14px, 24px, $darkShade75, none);
        letter-spacing: 0.9px;
        word-spacing: 0.9px;
        margin-top: 18px;
      }
    }

    &-list {
      &-title {
        @include text(bold, 12px, 15px, $darkShade100, uppercase);
        letter-spacing: 0.7px;
      }
      &-item {
        margin-bottom: 20px;
      }
      &-link {
        cursor: pointer;
        @include text(normal, 14px, 17px, $darkShade50, none);
        letter-spacing: 0.9px;
        word-spacing: 0.9px;
        transition: all 0.2s linear;
        &:hover {
          color: $darkShade100;
        }
      }
    }
  }

  &__subscribe {
    margin-top: 5px;
    margin-left: 51px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $smDesktopWidth) {
      margin-top: 0;
      margin-left: auto;
    }

    @media only screen and (max-width: $tableWidth) {
      margin-right: auto;
      text-align: center;
      align-items: center;
    }

    &-title {
      @include text(bold, 12px, 15px, $darkShade100, uppercase);
      word-spacing: 0.5px;
      letter-spacing: 0.3px;
    }
    &-text {
      width: 240px;
      @include text(normal, 14px, 24px, $darkShade75, none);
      letter-spacing: 0.9px;
      word-spacing: 0.9px;
      margin-top: 18px;
      @media only screen and (max-width: $smPhoneEdgeWidth) {
        @include text(normal, 12px, 22px, $darkShade75, none);
      }
    }
    &-form {
      margin-top: 22px;
    }
  }

  &__copyright {
    border-top: 1px solid $darkShade25;
    &-content {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 23px 0 25px 0;

      @media only screen and (max-width: $tableWidth) {
        flex-direction: column;
        padding: 20px 0;
      }
    }
    &-text {
      @include text(normal, 14px, 17px, $darkShade75, none);
      text-align: left;
      letter-spacing: 0.5px;
      word-spacing: 0.9px;

      @media only screen and (max-width: $tableWidth) {
        text-align: center;
        margin-bottom: 15px;
      }

      @media only screen and (max-width: $smPhoneEdgeWidth) {
        @include text(normal, 12px, 17px, $darkShade75, none);
      }
    }
  }
}
