.dropdown-facilities.dropdown-facilities_default
  .dropdown-facilities__enter.dropdown-facilities__enter_default
    #text.dropdown-facilities__text 2 спальни, 2 кровати, 2 кровати.
    button#dropdown-facilities-button.dropdown-facilities__arrow.dropdown-facilities__arrow_down.dropdown-facilities__arrow_gray
  .dropdown-facilities__choice
    .dropdown-facilities__criterion
      #bedroom-name.dropdown-facilities__criterion-name спальни
      #bedroom.dropdown-facilities__criterion-quantity
        button#bedroom-minus.dropdown-facilities__criterion-quantity-minus
        #bedroom-result.dropdown-facilities__criterion-quantity-result 0
        button#bedroom-plus.dropdown-facilities__criterion-quantity-plus
    .dropdown-facilities__criterion
      #bed-name.dropdown-facilities__criterion-name кровати
      #bed.dropdown-facilities__criterion-quantity
        button#bed-minus.dropdown-facilities__criterion-quantity-minus
        #bed-result.dropdown-facilities__criterion-quantity-result 0
        button#bed-plus.dropdown-facilities__criterion-quantity-plus
    .dropdown-facilities__criterion
      #bathroom-name.dropdown-facilities__criterion-name ванные комнаты
      #bathroom.dropdown-facilities__criterion-quantity
        button#bathroom-minus.dropdown-facilities__criterion-quantity-minus
        #bathroom-result.dropdown-facilities__criterion-quantity-result 0
        button#bathroom-plus.dropdown-facilities__criterion-quantity-plus