.dropdown-facilities {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  @media (min-width: 1025px) {
    width: 266px;
  }

  cursor: pointer;
  &_default {
    box-shadow: none;
  }
  &__enter {
    position: relative;
    transition: all 0.2s linear;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid $darkShade50;
    border-radius: 4px 4px 0 0;
    padding: 8px 15px;
    color: $darkShade25;

    &_default {
      border: 1px solid $darkShade25;
    }
  }

  &__text {
    @include text(normal, 14px, 25px, $darkShade75, none);
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 0.2px;
  }

  &__arrow {
    position: absolute;
    top: 16px;
    right: 17.5px;
    padding: 10px;
    cursor: pointer;

    &_down {
      align-self: center;
      width: 5px;
      height: 5px;
      border: solid $darkShade50;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
    }

    &_gray {
      border: 1px solid $darkShade75;
      border-width: 0 2px 2px 0;
    }
  }

  &__choice {
    &_static {
      position: static;
    }

    &_activated {
      visibility: visible;
      opacity: 1;
    }

    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    width: 266px;
    height: auto;
    background: #ffffff;
    border: 1px solid $darkShade50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 7px 7px 7px 15px;
    transition: all 0.2s linear;

    @media (min-width: 1025px) {
      width: 266px;
    }

    @media (min-width: 320px) {
      width: 220px;
    }
  }

  &__criterion {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
      @include text(bold, 12px, 10px, $darkShade100, uppercase);
      text-align: justify;
      letter-spacing: 0.6px;
      word-spacing: 0.2px;
      @media screen and (max-width: $phoneWidth) {
        @include text(bold, 10px, 8px, $darkShade100, uppercase);
      }
    }

    &-quantity {
      display: flex;
      align-items: center;

      &-result {
        @include text(bold, 12px, 15px, $darkShade100, uppercase);
        margin: 0 12px;
      }

      &-minus {
        transition: all 0.2s linear;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid $darkShade25;
        cursor: pointer;
        position: relative;

        &::before {
          content: "-";
          position: absolute;
          display: inline-block;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include text(normal, 18px, 22px, $darkShade25, none);
        }

        &_deactivated {
          opacity: 0.38;
        }
      }
      &-plus {
        transition: all 0.2s linear;
        border-radius: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid $darkShade25;
        cursor: pointer;
        position: relative;

        &::before {
          content: "+";
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include text(normal, 18px, 22px, $darkShade25, none);
        }
      }
    }
  }
}
