.dropdown-facilities.dropdown-facilities_default
  .dropdown-facilities__enter.dropdown-facilities__enter_default
    .dropdown-facilities__text 2 спальни, 2 кровати, 2 кровати.
    button.dropdown-facilities__arrow.dropdown-facilities__arrow_down.dropdown-facilities__arrow_gray