.dropdown-facilities
  .dropdown-facilities__enter
    .dropdown-facilities__text 2 спальни, 2 кровати, 2 кровати.
    button.dropdown-facilities__arrow.dropdown-facilities__arrow_down.dropdown-facilities__arrow_gray
  .dropdown-facilities__choice.dropdown-facilities__choice_activated.dropdown-facilities__choice_static
    .dropdown-facilities__criterion
      .dropdown-facilities__criterion-name спальни
      .dropdown-facilities__criterion-quantity
        button.dropdown-facilities__criterion-quantity-minus
        .dropdown-facilities__criterion-quantity-result 2
        button.dropdown-facilities__criterion-quantity-plus
    .dropdown-facilities__criterion
      .dropdown-facilities__criterion-name кровати
      .dropdown-facilities__criterion-quantity
        button.dropdown-facilities__criterion-quantity-minus
        .dropdown-facilities__criterion-quantity-result 2
        button.dropdown-facilities__criterion-quantity-plus
    .dropdown-facilities__criterion
      .dropdown-facilities__criterion-name ванные комнаты
      .dropdown-facilities__criterion-quantity
        button.dropdown-facilities__criterion-quantity-minus.dropdown-facilities__criterion-quantity-minus_deactivated
        .dropdown-facilities__criterion-quantity-result 0
        button.dropdown-facilities__criterion-quantity-plus