.colors-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 145px 265px 145px 150px;

  &__color {
    .palette {
      display: flex;
      align-items: center;

      &__color {
        width: 70px;
        height: 70px;
        margin-right: 40px;
        border-radius: 6px;

        &--100 {
          background: $darkShade100;
        }
        &--75 {
          background: $darkShade75;
        }
        &--50 {
          background: $darkShade50;
        }
        &--25 {
          background: $darkShade25;
        }
        &--5 {
          background: $darkShade5;
        }
        &--purple {
          background: $purple;
        }
        &--green {
          background: $green;
        }
      }

      &__name {
        font-family: $Quicksand;
        font-weight: 700;
        color: #1f2041;
        font-size: 19px;
        line-height: 29px;
      }

      &__hash {
        font-family: $Quicksand;
        font-weight: 400;
        color: #1f2041;
        font-size: 19px;
        line-height: 29px;
      }

      &__description {
        display: flex;
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__headline {
    width: 403px;
    height: 321px;

    .description {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      &__name {
        font-family: $Montserrat;
        color: $darkShade25;
        line-height: 29px;
        width: 37px;
        text-align: right;
        margin-right: 30px;

        &--h1 {
          font-size: 24px;
        }

        &--h2 {
          font-size: 19px;
        }

        &--h3 {
          font-size: 12px;
        }

        &--body {
          font-size: 14px;
        }
      }

      &__text {
        font-family: $Quicksand;
        font-style: normal;
        font-weight: bold;
        &--h1 {
          font-size: 24px;
          line-height: 30px;
        }

        &--h2 {
          font-size: 19px;
          line-height: 24px;
        }

        &--h3 {
          font-family: $Montserrat;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
        }

        &--body {
          font-family: $Montserrat;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: $darkShade75;
        }
      }
    }
  }
}
