.room-card {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  background-color: #ffffff;
  width: 270px;
  height: 258px;
  overflow: hidden;

  &__slider {
    overflow: hidden;
    width: 270px;
    max-height: 151px;
    position: relative;
  }

  &__nav {
    opacity: 0;
    width: 100%;
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s linear;
  }

  &__slider:hover &__nav {
    opacity: 1;
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    width: 42px;
    height: 151px;
    z-index: 1000;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.42188 11.0928L6.01563 12.499L0.0156253 6.49902L6.01563 0.499024L7.42188 1.90527L2.82813 6.49902L7.42188 11.0928Z' fill='white'/%3E%3C/svg%3E");
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &_next {
      right: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &__slide {
    display: flex;
    height: 151px;
  }

  &__info {
    padding: 20px 19px 20px 22px;
  }

  &__description {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__num {
    @include text(bold, 14px, 17px, $darkShade100, normal);

    font-family: $Quicksand;
    margin-right: 6px;
  }
  &__figures {
    @include text(bold, 19px, 24px, $darkShade100, normal);
    letter-spacing: 0.8px;
    font-family: $Quicksand;
    margin-right: 5px;
  }
  &__type {
    @include text(bold, 12px, 15px, $purple, uppercase);
    letter-spacing: 0.9px;
  }

  &__price {
    &-money {
      @include text(bold, 14px, 18px, $darkShade50, normal);
      letter-spacing: 0.7px;
      word-spacing: 1px;
    }

    &-day {
      @include text(normal, 12px, 22px, $darkShade50, normal);
      margin-left: 4px;
      letter-spacing: 0.7px;
      word-spacing: 0.5px;
    }
  }

  &__raiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 8px;
  }

  &__count-rewiew {
    display: flex;
  }

  &__count {
    @include text(bold, 14px, 18px, $darkShade50, normal);
    letter-spacing: 0.7px;
    word-spacing: 1px;
  }

  &__text {
    @include text(normal, 14px, 20px, $darkShade50, normal);
    letter-spacing: 0.7px;
    word-spacing: 1px;
    margin-left: 5px;
  }
}

.slick-dots {
  padding: 0 15px;
  z-index: 1001;
  position: absolute;
  top: 85%;
  right: -4px;
  display: flex;
  transition: all 0.2s linear;
  li {
    button {
      width: 7.5px;
      height: 7.49px;
      color: transparent;
      padding: 0;
      border: 1px solid #ffffff;
      border-radius: 50%;
      background: transparent;
      margin-right: 4px;
      transition: all 0.2s linear;
    }
  }

  li.slick-active {
    button {
      background: #ffffff;
      transition: all 0.2s linear;
    }
  }
}
