/* Utils
========================================== */
@import "../src/components/utils/scss/fonts.scss";
@import "../src/components/utils/scss/vars.scss";
@import "../src/components/utils/scss/mixins.scss";
@import "../src/components/utils/scss/reset.scss";

/* Modules
========================================== */
@import "../src/pages/scss/colors.scss";
@import "../src/pages/scss/components.scss";
@import "../src/pages/scss/forms.scss";
@import "../src/pages/scss/headerFooter.scss";
@import "../src/pages/scss/index.scss";
@import "../src/pages/scss/registration.scss";
@import "../src/pages/scss/details.scss";
@import "../src/pages/scss/search.scss";
@import "../src/pages/scss/login.scss";

.body_gray {
  background: #e5e5e5;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
