.button-big {
  @include text(bold, 12px, 15px, #ffffff, uppercase);
  text-align: justify;
  letter-spacing: 0.8px;
  text-align: center;
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  position: relative;
  transition: all 0.2s linear;
  @media only screen and (max-width: $phoneWidth) {
    width: 260px;
    height: 36px;
    @include text(bold, 12px, 12px, #ffffff, uppercase);
  }

  @media only screen and (max-width: $smPhoneEdgeWidth) {
    width: 240px;
  }

  svg {
    position: absolute;
    top: 12px;
    right: 12px;
    @media only screen and (max-width: $phoneWidth) {
      top: 8px;
      right: 14px;
    }
  }
  &:hover {
    opacity: 0.5;
  }
}
