.text-field-subscription {
  @include text-field(266px);
  display: flex;
  align-items: center;
  position: relative;

  &__arrow {
    position: absolute;
    right: 6px;
  }

  &__text {
    width: 100%;
    margin-right: 20px;
    font-size: 14px;

    &::placeholder {
      @include text-field-placeholder($darkShade25);
      text-align: justify;
      letter-spacing: 0.8px;
    }
    &:hover,
    &:focus {
      &::placeholder {
        color: $darkShade75;
      }
    }
  }
  &:hover,
  &:focus {
    border: 1px solid $darkShade50;
  }
}
