.text-field-subscription {
  @include text-field(267px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__arrow {
    padding: 0px;
  }

  &__text {
    width: 100%;
    margin-right: 10px;
    font-size: 14px;

    &::placeholder {
      @include text-field-placeholder($darkShade25);
    }
    &:hover,
    &:focus {
      &::placeholder {
        color: $darkShade75;
      }
    }
  }
  &:hover,
  &:focus {
    border: 1px solid $darkShade50;
  }
}
