.text-field {
  @include text-field(320px);
  @media all and (max-width: $smPhoneWidth) {
    @include text-field(248px);
  }

  &::placeholder {
    @include text-field-placeholder($darkShade25);
    text-align: justify;
    letter-spacing: 0.8px;
  }

  &:hover,
  &:focus {
    border: 1px solid $darkShade50;
    &::placeholder {
      color: $darkShade75;
    }
  }

  &_hover {
    border: 1px solid $darkShade50;
    color: $darkShade75;
  }
}
