.text-field {
  @include text-field(320px);
  @media only screen and (max-width: $phoneWidth) {
    width: 280px;
  }

  @media only screen and (max-width: $smPhoneEdgeWidth) {
    width: 240px;
  }

  &::placeholder {
    @include text-field-placeholder($darkShade25);
    text-align: justify;
    letter-spacing: 0.8px;
  }

  &:hover,
  &:focus {
    border: 1px solid $darkShade50;
    &::placeholder {
      color: $darkShade75;
    }
  }

  &_hover {
    border: 1px solid $darkShade50;
    color: $darkShade75;
  }
}
