.form-rich-checkbox-buttons
  .form-rich-checkbox-buttons__name rich Checkbox Buttons
  label.form-rich-checkbox-buttons__label
    input.form-rich-checkbox-buttons__label-checkbox(type="checkbox" )
    span.form-rich-checkbox-buttons__label-checkbox-castom
    .form-rich-checkbox-buttons__label-description
      .form-rich-checkbox-buttons__label-description-title Широкий коридор
      .form-rich-checkbox-buttons__label-description-text Ширина коридоров в номере не менее 91 см.
  .form-rich-checkbox-buttons
  label.form-rich-checkbox-buttons__label
    input.form-rich-checkbox-buttons__label-checkbox(type="checkbox" )
    span.form-rich-checkbox-buttons__label-checkbox-castom
    .form-rich-checkbox-buttons__label-description
      .form-rich-checkbox-buttons__label-description-title Помощник для инвалидов
      .form-rich-checkbox-buttons__label-description-text На 1 этаже вас встретит специалист  и проводит до номера.

